<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.softeem.mapper.TeacherMapper">

    <!--校验老师的昵称（此处与学生校验有些许不同，是昵称，不是真实姓名）-->
    <select id="findTeaByUsername" resultType="Teacher">
        select t.*,r.rolename from teacher t,role r where t.role=r.role and username = #{username}
    </select>

    <select id="findTeaAllByUsername" resultType="Teacher">
        select t.*,g.gradename from teacher t,grade g where t.gradeId = g.gradeId and username = #{username}
    </select>

    <!--修改老师信息-->
    <update id="updateTeacher" parameterType="Teacher">
        update teacher
        <set>
            <if test="username!=null and username!=''">
                username = #{username},
            </if>
            <if test="gradeId!=null and gradeId!=''">
                gradeId = #{gradeId}
            </if>
        </set>
        where tid = #{tid}
    </update>

    <!--执行老师注册，动态添加-->
    <insert id="teaRegister" parameterType="Teacher">
        insert into teacher
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="tname!=null and tname!=''">
                tname,
            </if>
            <if test="username!=null and username!=''">
                username,
            </if>
            <if test="password!=null and password!=''">
                password,
            </if>
            <if test="gradeId!=null and gradeId!=''">
                gradeId,
            </if>
            <if test="role!=null and role!=''">
                role
            </if>
        </trim>
        value
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="tname!=null and tname!=''">
                #{tname},
            </if>
            <if test="username!=null and username!=''">
                #{username},
            </if>
            <if test="password!=null and password!=''">
                #{password},
            </if>
            <if test="gradeId!=null and gradeId!=''">
                #{gradeId},
            </if>
            <if test="role!=null and role!=''">
                #{role}
            </if>
        </trim>
    </insert>
</mapper>